<h1>About Us</h1>
<p>Probity is a homegrown startup company that makes web applications.  We identify problems in our own lives, figure out how to solve them, then share our solutions with the world.  We have a mission of happiness.  We share a common vision, but we each have different roles:</p>
<ul>
	<li>Neal</li>
	<li>Mike</li>
	<li>Claire</li>
	<li>PD</li>
	<li>Maggie</li>
</ul>