<h1>Our Blog</h1>
<p>We know there are plenty of resources out there for maintaining a healthy lifestyle, not all of them good.  Here we’ll cull out the best of the internets for supplementing our exercises, and share what new features the Exercise App is coming out with next.  We’d love to hear your feedback!</p>
