<h1>Welcome!</h1>
<p>We all know that exercise is good for us, that it’s necessary for our health.  But no matter how much we hear it, whether it’s from our doctors, our friends, our peers, or our collaborators, it’s still not always easy.  For keeping ourselves accountable to our commitment to health, we use the Exercise App to make purposeful connections with others who have similar goals, then contractualize our commitments so that we have to get them done, or else the whole team gets brought down.  Oh, and there are cool points, too!</p>
